* {
    background-color: rgb(119, 140, 143);
    margin: 20px;
    padding: 0;
}

body {
    background-color: rgb(119, 140, 143);
    border-style: double;
    border-color: rgb(119, 140, 143);
}

.titulo,
h1 {
    background-color: #85d3ac;
    color: rgb(17, 17, 17);
    text-align: center;
    border-radius: 5px;
}

.sub,
h2 {
    background-color:rgb(119, 140, 143);
    text-align: center;
    color: white;
}

.est,
h3 {
    background-color: #19ec23d3;
    color: rgb(3, 3, 3);
    text-align: center;
    border-radius: 5px;
}

.content,
h4 {
    background-color: #19ec23d3;
    color: rgb(24, 24, 24);
    text-align: center;
    border-radius: 5px;
}

img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgba(250, 250, 250, 0.589);
    box-shadow: 0 0 7px rgb(17, 17, 17);
}

.picel {
    background-color:rgb(119, 140, 143);;
}

.lista,
ul,
li {
    list-style: none;
    background-color: rgb(119, 140, 143);;
    color: black;
    margin-left: 11%;
    margin-right: 5%;
    display: block;
}

strong {
    background-color: #333;
    color: rgb(119, 140, 143);;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.parrafo,
p {
    background-color: rgb(119, 140, 143);;
    color: white;
    text-align: justify;
}

.tabla-color {
    background-color: #333;
}

table {
    background-color: red;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px #19ec23d3;
    width: 100%;
    text-align: center;
}

td,
th {
    background-color: #19ec23d3;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(65, 65, 65);
}

td {
    background-color: rgb(228, 226, 226);
}

tr,
td:hover {
    background-color: #8e2592;
    cursor: pointer;
}


/*table {
    border-collapse: collapse;
    box-shadow: 0 0 10px;
    color: white;
    margin: auto;
}

td,
th {
    background-color: blue;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: red;
    width: 40%;
}*/